/*.................. ..........font family raleway ...............................................*/
@font-face 
{
  font-family: ralewayBold;
  src: url(static/Raleway-Bold.ttf); 
}
@font-face 
{
  font-family: ralewaySemiBold;
  src: url(static/Raleway-SemiBold.ttf);
}
@font-face 
{
  font-family: think-italic;
  src: url(static/Raleway-LightItalic.ttf);
}
@font-face 
{
  font-family: regular;
  src: url(static/Raleway-Regular.ttf);
}

@font-face 
{
  font-family: light;
  src: url(static/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: extraBold;
  src: url(static/Raleway-ExtraBold.ttf);
}
#italic
{
  margin-bottom: 30px;
  margin-top:30px;
  display: block;
}
/* ...................barre de navigation ....................................*/
header
{
  display: flex;
  font-size:x-small;
  font-family:ralewayBold ;
  position:relative;
}
nav{
  right: 0;
  position:absolute;
}
ul{
  display:flex;
  list-style: none;
}
ul li a
{
  padding: 10px 20px 0 20px;
  text-decoration: none;
  color:gray;
}

ul li a:hover 
{
  border-top: #0065FC solid 2px ; 
  color: #0065FC; 
  text-decoration: none;
}  

/* ..................................barre de recherche..........................*/      
.search {
  width: 45%;
  position: relative;
  display: flex;
  border-radius: 10px;
  border: grey solid 1px;  
}
.searchTerm {
  width: 60%; 
  padding: 0px 12px 0px 12px ;
  height: 24px;
  margin: 0;
  outline-style: none;
  outline: none;
  border: none ; 
}
input[type="text"]{outline-style:none ;}
.fa-map-marker-alt
{
  font-size: small;
  padding:8px;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  background-color:  #F2F2F2;
  width: 3%;  
} 
.searchButton {
  height: 28px;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  font-size: x-small;
  position: absolute;
  right: 0;
}
body{
  margin:4% 10% 10% 10%;
}
/* 
..........................  filtres et categorie .......................................*/
#choix{
  display: flex;
  font-size:x-small;
  flex-wrap: wrap;   
  font-family: ralewayBold;
  letter-spacing: initial;
  height: 27px;
  margin-top: 30px;
  justify-content: space-between;
}

#filtre
{
  font-family: ralewayBold;
  font-size:x-small;
  padding-top: 10px;
}

#choix div:not(#filtre)
{
border-radius: 100px;
border:grey solid 1px;
font-size:smaller ;
font-family: ralewayBold;
position: relative;
}
.fa-chart-line
{
  float: right;
}

i:not(.fa-info-circle,.fa-map-marker-alt,.fa-star,.fa-chart-line) 
{
  background-color:#DEEBFF;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 8px;
  color :#0065FC;
  font-size: xx-small;
  margin:0;
}
.fa-info-circle{
  margin-left: 10px;
  padding-left: initial;
  color: white;
  background-color: #0065FC;
  border-radius: 50%;
  font-size: small;
}

#un
{
  font-family: ralewayBold;
  font-size: small;
  letter-spacing: initial;
}
#deux,#italic
{
  font-family: think-italic;
  font-size:x-small;
}


/* ..........................................1 grid parent...............................*/
/* .wrapper{
display: grid;
grid-template-columns: 75% 25%;
grid-gap: 10px;





} */

/*...................... 2 eme grid (activités à marseille)......................................*/
.wrapper1
{
  display: grid;
  grid-template-columns: repeat(4,1fr);  
  grid-template-rows:10% repeat(4,1fr);
  grid-column-gap: 5%; 
  grid-row-gap:6%;   
  border-radius: 20px;
  padding-top:30px;
  height: 280px;
}
.wrapper1 div:not(.title3)
{
  border:ghostwhite solid 3px;
  border-radius: 15px;
  border:1px solid rgb(240, 233, 233);
  box-shadow: 1px 1px 1px 1px gray;
}
.title3 
{
  grid-column: 1/5;
  grid-row: 1;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
}

.wrapper1 div:nth-child(2n) 
{
  grid-column: 1/2;
  grid-row: 2/6;
}
.wrapper1 div:nth-child(3n) 
{
  grid-column: 2/3;
  grid-row: 2/4;
}
.wrapper1 div:nth-child(3n) img 
{
height: 75%; 
}
.wrapper1 div:nth-child(4n) img 
{
 height: 68%; 
}
.wrapper1 div:nth-child(7n) img 
{
 height: 78%; 
}
.wrapper1 div:nth-child(6n) img 
{
 height: 75%; 
}
.wrapper1 div:nth-child(4n) 
{
  grid-column:2/3;
  grid-row: 4/6;
}
.wrapper1 div:nth-child(5n) 
{
  grid-column:3/4;
  grid-row: 2/6;
}

.wrapper1 div:nth-child(6n) 
{
  grid-column:4/5;
  grid-row: 2/4;
}
.wrapper1 div:nth-child(7n) 
{
  grid-column:4/5;
  grid-row: 4/6;
}
.wrapper1 div img 
{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 85%;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px ;
  margin:auto;
}

.style3
{
  font-family:ralewayBold ;
  font-size:0.5em;
  letter-spacing: initial;
  margin: 0;
  padding:8% 0 0 10%;
}
.title3 {
  grid-column: 1/5;
  grid-row: 1;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: x-small;
}
/*................................ footer........................................ */
#footer
{
  height:10000px;
  background-color: #F2F2F2;
}

.wrapper2{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 10px;
  background-color: #F2F2F2;
  margin-top: 50px;
  padding-bottom: 30px;
}
.wrapper2 >div
{
  margin:auto;
}
.footer h6
{
  font-family:extraBold ; 
  font-size:0.6em ;
  margin-bottom: 5px;
  font-weight: bold;
}
.wrapper2>div>div
{
font-size:0.5em ;
font-weight:lighter;
line-height: 2em;
font-family:regular;
}








/* ..................1 grid fille.................................. */

.grid-nested1 
{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:8% repeat(2,1fr) 8%;
  grid-gap:2%;
  background-color:   #F2F2F2;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20em; 
}
.grid-nested1 div img 
{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 70px;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px ;
  margin:auto;
}
.grid-nested1 div:not(.title1,.title),.wraper1 div:not(.title1)
{
  border-radius: 15px;
  background-color:white;
  padding: 2%;
}
.grid-nested1>.stars{ padding: 0 1% 0 10%;}
/* .................................2 eme grid fille............................. */
.grid-nested2 
{
display: grid;
grid-template-columns: 100%;
grid-template-rows:10% repeat(3,1fr);
grid-gap: 1%;
background-color:   #F2F2F2;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
margin-top:30px;
height:350px;
}
.grid-nested2 > div > div
{
  margin:0;
  padding: 0;
  height: 70px;
}

.grid-nested2 div img 
{
  object-fit: cover;
  width: 35%;
  height:70px;
  border-top-left-radius: 15px ;
  border-bottom-left-radius: 15px ;
}
.grid-nested2 > div:not(.title2)
{
  display: flex;
  height: 70px;
  padding: 2%;
}

.grid-nested2 > div > div .stars
{
  margin-top:20%;
}
/* ....................les titres................................ */
.title1 {
  padding-top: 10px;
  grid-column: 1/4;
  grid-row: 1;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
}
.title3 { 
  grid-column: 1/5;
  grid-row: 1;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
}
.title2 {
  padding-top: 10px;
  grid-column: 1/2;
  grid-row: 1;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
}
.title {
  grid-column: 1/4;
  grid-row: 4/5;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: x-small;

}




/* .........................les styles........................ */

.style1
{
  font-family:ralewayBold ;
  font-size:0.5em;
  line-height: 1em;
  letter-spacing: initial;
  margin: 0;
  padding: 5% 1% 3% 10%;

}
.grid-nested2>div:not(.title2)
{
  border: 3px solid #F2F2F2 ;
  background-color:white;
  border-radius: 15px;

}

.style2
{
  font-family:light ;
  font-size:0.5em;
  letter-spacing: initial;
  margin: 0;
  padding: 0% 0% 0% 10%;
}

/*................................. les etoiles.......................... */
.fa-star.bleu 
{
color: #0065FC;
}
.fa-star {
color: gray;
}  
.stars
{
  font-family:ralewayBold ;
  font-size:0.2em;
  line-height: 1em;
  letter-spacing: initial;
  margin: 0;
  padding: 4% 1% 1% 10%;
}
/* ....................................iphone8........................................ */
