/*.................. ..........font family raleway ...............................................*/
@font-face {
  font-family: ralewayBold;
  src: url(static/Raleway-Bold.ttf);  
}
@font-face {
  font-family: ralewaySemiBold;
  src: url(static/Raleway-SemiBold.ttf);
  
}
@font-face
 {
  font-family: think-italic;
  src: url(static/Raleway-LightItalic.ttf);
}
@font-face 
{
  font-family: regular;
  src: url(static/Raleway-Regular.ttf);
}

@font-face 
{
  font-family: light;
  src: url(static/Raleway-ExtraLight.ttf);
}

@font-face 
{
  font-family: extraBold;
  src: url(static/Raleway-ExtraBold.ttf);
}
body
{
  margin:5% 7% 3% 7%;
}
/* ...................barre de navigation ....................................*/
header
{
  display: flex;
  flex-direction: column;
  font-size:x-small;
  position: relative;
  font-family:ralewayBold ;
}
nav 
{
  width: 100%;
} 
ul
{
  display: flex;
  list-style: none;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}
ul li:not(:last-child)
{
  width:50%;
  padding-top: 10px;
}
ul li
{
  width:50%;
  text-align: center;
  border-bottom:rgb(245, 239, 239) solid 2px ;
  padding-bottom: 15px;
  font-size: 1.2em;
}
ul li:hover
{
  border-bottom:#0065FC solid 2px ;
  padding-bottom: 15px;
}


li:last-child
{
  position: absolute;
  right: 0;
  top:5px;  
  text-align: end;
  display: block;
  border: none;  
  margin-right: 20px;     
}
li:last-child:hover
{
  border: none;
}

li:last-child a
{
  margin-right: auto;
  color: #0065FC;
}
li a
{
  text-decoration: none;
  color:gray;
  margin: auto;
  padding: auto;
  text-decoration: none;
}


li:hover
{
color: #0065FC; 
text-decoration: none;
} 
header img
{
  width:60px;
}

/* ...............les deux phrases apres  la bare de navigation.............. */
#un{font-family: ralewayBold;
font-size:medium;
letter-spacing: initial;}
#deux,#italic
{
 font-family: think-italic;
font-size:small;
}



/* ..................................barre de recherche..........................*/      
.search 
{
  width: 80%;
  position: relative;
  display: flex;
  border-radius: 10px;
  border: grey solid 1px;  
}
.searchTerm 
{
  width: 80%; 
  padding: 0px 12px 0px 12px ;
  height: 24px;
  margin: 0;
  outline-style: none;
  outline: none;
  border: none ; 
}
/* input[type="text"]{outline-style:none ;} */
.fa-map-marker-alt
{
  font-size: small;
  padding:8px;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  background-color:  #F2F2F2;
  width: 3%;  
} 
.searchButton {
  background-image: url(images/logo/finsearch.png)   ;
  height: 28px;
  background-size: 100% 100%;
  width: 16%;
  text-indent: 300px;
  background-color:white; 
  border: #0065FC solid 2px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  font-size: x-small;
  position: absolute;
  right: 0;
}
.searchButton span
{
  display:none;
}

/* 
..........................  filtres et categorie .......................................*/
#choix{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-size:0.9em;   
  font-family: ralewayBold;
  letter-spacing: initial;
  height: 150px;
  margin-top: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
}
#choix div:nth-child(3){
  order:5;
  margin-top:36px;
  margin-left: -20%;
}
#choix div:nth-child(5)
{
 margin-right: auto;
}

#filtre
{
  font-family: ralewayBold;
  padding-top: 10px;
}
#choix div
{
  display: inline-flex;
  margin-right:auto;
}

#choix div span
{
  padding: auto;
  margin: auto;
}
#choix div:not(#filtre)
{
border-radius: 100px;
border:grey solid 1px;
font-size:smaller ;
font-family: ralewayBold;
}
.fa-chart-line
{
float: right;
}

i:not(.fa-info-circle,.fa-map-marker-alt,.fa-star,.fa-chart-line)
{
  background-color:#DEEBFF;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 8px;
  color :#0065FC;
  font-size: small;
  margin:0;
  width: 10%;
}
.fa-info-circle
{                
  margin-right: 10px;               
  padding-left: initial;
  color: white;
  background-color: #0065FC;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  top:0;
}

#italic 
{ 
  position: relative;
  margin-top: 20px;
  height: 32px;
  
}
#italic span
{
  width: 90%;
  display: inline-block;
  margin-left: 18px;
}

/* #italic span{height: 31px;} */

/* .................hebergement à marseille ................................*/

.grid-nested1 {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 2% repeat(6,1fr) 2%;
  grid-gap:1%;
  background-color:   #F2F2F2;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height:790px;
  padding-top: 4%;
  padding-bottom: 4%;
  order: 2;
}
.grid-nested1 div img
{
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px ;
  margin:auto;
}
.grid-nested1 div:not(.title1,.title),.wraper1 div:not(.title1)
{
  border-radius: 15px;
  height: 100px;  
  background-color:white;
  padding: 1%;
}
/* .................................les plus populaires............................. */
.grid-nested2 
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:10% repeat(3,1fr);
  grid-gap: 1%;
  background-color:   #F2F2F2;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  order: 1;
  height: 250px;
  margin-bottom: 20px;
  }
.grid-nested2 > div > div{
margin:0;  
padding: 0;
height: 90px;
}
.grid-nested2 div img {
object-fit: cover;
width: 35%;
height:100%;
border-top-left-radius: 15px ;
border-bottom-left-radius: 15px ;
}
.grid-nested2 > div:not(.title2)
{
  display: flex;
  height: 50px;
  padding: 1%;
}

.grid-nested2 > div > div .stars
{
  margin-top:20%;
}
/* .........................les styles........................ */

.style1
{
  font-family:ralewayBold ;
  font-size:0.5em;
  line-height: 1em;
  letter-spacing: initial;
  margin: 0;
  padding: 0 1% 0 10%;
}
.grid-nested2>div:not(.title2)
{
  border: 3px solid #F2F2F2 ;
  background-color:white;
  border-radius: 15px;
}

.style2
{
  font-family:light ;
  font-size:0.5em;
  letter-spacing: initial;
  margin: 0;
  padding: 0% 0% 0% 10%;
}

/*................................. les etoiles.......................... */
.fa-star.bleu 
{
 color: #0065FC;
}
.fa-star 
{
  color: gray;
}  
.stars {
  font-family:ralewayBold ;
  font-size:0.2em;
  line-height: 1em;
  letter-spacing: initial;
  margin: 0;
  padding: 1% 1% 0 10%;
}
.wrapper{
 display: grid;
}
.wrapper1{
  display: grid;
  grid-template-columns: 100%;  
  grid-template-rows:5% repeat(6,1fr);
  grid-row-gap:2%;   
  border-radius: 20px;
  /* padding-left: 20px;
  padding-right: 20px;  */
  padding-top:30px;
  height: 1060px;
  margin-top: 50px;
}
.wrapper1 div:not(.title3)
{
  border:ghostwhite solid 3px;
  border-radius: 15px;
  border:1px solid rgb(240, 233, 233);
  box-shadow: 1px 1px 1px 1px gray;
  height: 140px;
}
.wrapper1 div img 
{
  object-fit: cover;
  width: 100%;
  height:80%;
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px ;

}

.title3 {
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size:medium;
  padding-top:17px;

} 
.style3
{
  font-family:ralewayBold ;
  font-size:0.8em;
  letter-spacing: initial;
  margin: 0;
  font-weight: bold;
  padding:0 0 0 10%;
}

#footer
{
  height:10000px;
  background-color: #F2F2F2;
}

.wrapper2
{
  display: grid;
  grid-template-columns:100%;
  grid-gap: 10px;
  background-color: #F2F2F2;
  margin-top: 50px;
  padding-bottom: 30px;
}
.wrapper2 >div
{
  margin-left:60px;
}
.wrapper2 >div h6
{
  font-family:extraBold; 
  font-size:0.8em;
  margin-bottom:5px;
  font-weight: bold;
}
.wrapper2>div>div{
  font-size:0.8em ;
  font-weight:lighter;
  line-height: 2em;
  font-family:regular;
}

.title2 {
  padding-top: 10px;
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
}
.title1 {
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.title {
  font-family: ralewayBold;
  letter-spacing: initial;
  font-size: small;  
}



/* ....................les titres................................ */
/* .title1 {
padding-top: 10px;
grid-column: 1/4;
grid-row: 1;
font-family: ralewayBold;
letter-spacing: initial
;
font-size: small;
}
.title3 { 
grid-column: 1/5;
grid-row: 1;
font-family: ralewayBold;
letter-spacing: initial
;
font-size: small;
}
.title2 {
padding-top: 10px;
grid-column: 1/2;
grid-row: 1;
font-family: ralewayBold;
letter-spacing: initial;
font-size: small;
}
.title {

grid-column: 1/4;
grid-row: 4/5;
font-family: ralewayBold;
letter-spacing: initial;
font-size: x-small;

}
*/




/* #menu img{float:right;}
#nav{font-size:x-small;

font-family:ralewayBold ;
}
#nav li:first-child  {
display: inline-block;
color:gray; 
width: 50%;

}
#nav li:nth-child(2n)  {
display: inline-block;

color:gray; 
width: 100%;

}
#nav li:nth-child(3n)  {
display: inline-block;

color:gray; 
width: 50%;

}
#nav li  {
display: inline-block;
color:gray; 

}
#nav li a  {
color:gray; 
text-decoration: none;
}
#nav li a {


color:gray; 
}
#nav li a:hover {
border-top: #0065FC solid 2px ; 
color: #0065FC; 
text-decoration: none;
}


*/






























/* @media (max-width:414.4px) {#menuM1{display: flex;
flex-direction: row;
flex:4;
justify-content: space-between;
}
#menuM1 div{font-size:x-small;
float:right;
font-family:ralewayBold ;
width: 50%;}
#menuM2 {
position:relative;
margin-left: -30%;
margin-right: -30%;
border-bottom:rgb(236, 233, 233) solid 2px ; 
}

#menuM2 div  {display: inline-block;
padding: 10px; 
color:gray; 
font-family:ralewayBold ;
font-size:x-small;


}
#menuM2 div a  {


color:gray; 
text-decoration: none;
}
#menuM2 div a {
padding: 10px 50px 10px 50px; 



color:gray; 
}

#menuM2 div a:hover {
border-bottom: #0065FC solid 2px ; 
color: #0065FC; 
text-decoration: none;
}









}
@media screen only (min-width:414.4px) {#menuM{} } */
